<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tinyBFCP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tinyDAV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>tinyHTTP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tinyIPSec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tinyMEDIA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tinyMSRP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tinyNET.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tinyRTP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tinySAK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tinySDP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>webrtc4all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC26C00C1929DA6000941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C02F1929DCA900941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C0371929DCF400941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C1F5192A87B800941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C441192A8A2400941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C449192A8A3400941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C451192A8A4900941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C459192A8A5800941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C461192A8A6B00941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C469192A8A7E00941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26C471192A8A8B00941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC26CA96192A908800941ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
